<?xml version="1.0" encoding="UTF-8"?>
<plugin title="IvyISCDEComponents" loader="DEFAULT">
<overlays>
		<overlay id="startup.IvyISCDEComponents" resourcebundle="content/IvyISCDEComponents/resources/lang/messages">
			<menubar id="toolsmenu">
	        	<menuitem id="IvyISCDEComponents" label="${Launcher.IvyISCDEComponents}" command="mantleXulHandler.openUrl('${Launcher.IvyISCDEComponents}','${Launcher.IvyISCDEComponents_TOOLTIP}','plugin/IvyISCDEComponents/api/default')"/>
	      	</menubar>
	    </overlay>
	</overlays>
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/IvyISCDEComponents/static" localFolder="static"/>
		<static-path url="/IvyISCDEComponents/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>IvyISCDEComponents</title>
			<description></description>
			<company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="IvyISCDEComponents"
		title="IvyISCDEComponents"
		type="IvyISCDEComponents"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<!-- Menu entry -->
	<menu-items>
		<!--<menu-item id="IvyISCDEComponents_main" anchor="tools-submenu" label="IvyISCDEComponents" command="content/IvyISCDEComponents/" type="MENU_ITEM" how="LAST_CHILD"/>-->
	</menu-items>
</plugin>
