 
.chartExportList {
	padding-right: 30px;
}

.chartExportList li {
    background-color: #bfbfbf;    
    list-style-type:none;
    margin-bottom: 5px;
    cursor:pointer;
    border-radius: 3px;
    padding:5px;
}

.chartExportList li:hover {
    background-color: #58ba49;    
    
}